# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# ML Root Outputs
/models/
/artifacts/
/mlruns/
/checkpoints/

# Generated data
data/feature_store/*
!data/feature_store/.gitkeep
data/processed/

# Reports
reports/*.json
reports/*.csv
reports/*.log

# Submissions
submissions/*
!submissions/.gitkeep
!submissions/example_submission.csv

# Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.venv/
.env
